body {
    background-color: #121212;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #333;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #222;
}